@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #e3dbd9;
    --secondary-color: #333;
    --tertiary-color: #0aaeef;
    --primary-font: 'Roboto', sans-serif;
    --h2-font-size: 3em;
    --h3-font-size: 1.5em;
    --p-font-size: 1.1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    height: 100vh;
    background-color: var(--primary-color);
}

#container {
    position: relative;
}

/* Header */

#header {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    padding: 1% 5%;
    background-color: transparent;
}

#header #nav-bar {
    position: relative;
    width: 40%;
}

#header #nav-bar #nav-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header #nav-bar #nav-ul .nav-li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    list-style: none;
}

#header #nav-bar #nav-ul .nav-li .nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    align-self: center;
}

#header #nav-bar #nav-ul .nav-li .nav-link:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {

    #header {
        /* height: 15%; */
        flex-direction: column;
    }

    #header #logo {
        text-align: center;
    }

    #header #nav-bar {
        width: 100%;
        justify-content: center;
    }

    #header #nav-bar #nav-ul .nav-li{
        justify-content: center;
    }
}

@media (max-width: 250px) {
    
    #header #nav-bar #nav-ul {
        flex-direction: column;
    }

    #header #nav-bar #nav-ul .nav-li {
        width: 100%;
    }

    
}


/* Banner */
         
#banner {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 2% 0 0 0;
    padding: 5% 1% 5% 1%;
}

#banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

#banner-text .section-heading {
    font-size: var(--h2-font-size);
}

#banner-text .section-sub-heading {
    font-size: var(--h3-font-size);
    padding-bottom: 1%;
}

#banner-text .section-p {
    text-align: justify;
    font-size: var(--p-font-size);
}

#banner-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#banner-email #form-description {
    width: 60%;
}

#banner-email #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}