@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #e3dbd9;
    --secondary-color: #333;
    --tertiary-color: #0aaeef;
    --primary-font: 'Roboto', sans-serif;
    --h2-font-size: 2.5em;
    --h3-font-size: 1.5em;
    --p-font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color); /* Remove it once you are done */
}

#container {
    width: 100%;
    position: relative;
    margin: auto;
}

.inner-container {
    width: 96%;
    max-width: 1080px;
    margin: 2% auto;
}

/* Header */

#header {
    width: 100%;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

#header .inner-container{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: auto;
}

#header #nav-bar {
    position: relative;
    width: 40%;
}

#header #nav-bar #nav-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header #nav-bar #nav-ul .nav-li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    list-style: none;
}

#header #nav-bar #nav-ul .nav-li .nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    align-self: center;
}

#header #nav-bar #nav-ul .nav-li .nav-link:hover {
    text-decoration: underline;
}


@media (max-width: 750px) {

    #header .inner-container {
        flex-direction: column;
    }

    #header #logo {
        text-align: center;
    }

    #header .inner-container #nav-bar {
        width: 100%;
        height: 20%;
        justify-content: center;
    }

    #header #nav-bar #nav-ul .nav-li{
        justify-content: center;
    }
}

@media (max-width: 300px) {
    
    #header #nav-bar #nav-ul {
        flex-direction: column;
    }

    #header #nav-bar #nav-ul .nav-li {
        width: 100%;
    }

    
}


/* Banner */

#banner {
    width: 100%;    
    background-color: var(--secondary-color);
}

#banner .inner-container {
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    color: var(--primary-color);
}

#banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-right: 5%;
    border-right: 2px solid var(--primary-color);    
}

.section-heading {
    font-size: var(--h2-font-size);
    color: var(--tertiary-color);
}

.section-sub-heading {
    font-size: var(--h3-font-size);
    padding-bottom: 1%;
    color: var(--tertiary-color);
}

.section-p {
    text-align: justify;
    font-size: var(--p-font-size);
    line-height: 1.2em;
}

#banner-email {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-left: 5%;
}

#banner-email #form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#banner-email #form #form-description {
    margin: 1% 0;
    font-size: var(--p-font-size);
} 

#banner-email #form #email, 
#banner-email #form #submit {
    width: 100%;
    height: 3em;
    margin: 1% 0;
}

#banner-email #form #email {
    color: var(--secondary-color);
    font-size: 1em;
    padding: 2%;
    border: 1px solid var(--secondary-color);
}

#banner-email #form #submit {
    background-color: var(--tertiary-color);
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--secondary-color);
}

@media (max-width: 750px) {

    #banner #banner-text,
    #banner #banner-email {
        width: 100%;
        margin: 0;
    }

    #banner #banner-text {
        padding-bottom: 5%;
        border-right: none;
        border-bottom: 2px solid var(--primary-color);
    }

    #banner #banner-email {
        justify-content: center;
        padding-top: 5%;
        padding-left: 0;
    }

    #banner #banner-email #form {
        width: 100%;
        margin: 0;
    }

}


/* Features */

#features {
    width: 100%;
    background-color: var(--primary-color);
}

#features .inner-container {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.feature {
    display: flex;  
    justify-content: space-between;
    margin: 0 0 5% 0;     
}

.feature:first-of-type {
    margin-top: 5%;
}

.feature:not(:last-child) {
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 3%;
}

.feature:nth-of-type(even) {
    flex-direction: row-reverse;
}

.feature-info {
    /* display: flex;
    flex-direction: column; */
    width: 40%;
    text-align: left;
}

.feature:nth-of-type(even) .feature-info {
    text-align: right;
}

.feature-pic-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.feature:nth-of-type(even) .feature-pic-container {
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

.feature-pic {
    width: 60%;
}

@media (max-width: 750px) {

    .features .inner-container {
        width: 96%;
        margin: 0 2%;
    }

    .feature-info {
        width: 100%;
    }
    
    .feature:nth-of-type(even) .feature-info {        
        text-align: left;
    }

    .feature-pic-container {
        display: none;
    }

    .feature:nth-of-type(even) .feature-pic-container {
        display: none;
    }
}


/* Pricing */

#pricing {
    width: 100%;
    background-color: var(--secondary-color);
}

#pricing .inner-container {
    padding: 5% 0;
}

#pricing .inner-container #plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1% 0;
}

#pricing .inner-container #plans .plan {
    position: relative;
    width: 30%;
    border: 1px solid var(--primary-color);
    padding: 1%;
}

#pricing .inner-container #plans .plan .section-sub-heading{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    text-align: center;
}

#pricing .inner-container #plans .plan .plan-info {
    min-height: 50vh;
}

#pricing .inner-container #plans .plan p.price {
    font-weight: bold;
    font-size: 1.5em;
}

#pricing .inner-container #plans .plan p {
    color: var(--primary-color);
    margin: 5% 0;
    font-size: var(--p-font-size);;
}


#pricing .inner-container #plans .plan ul li{
    color: var(--primary-color);
    font-size: var(--p-font-size);
    margin: 5% 0 5% 5%;
}

#pricing .inner-container #plans .plan .join-button {
    width: 100%;
    height: 5vh;
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;    
    font-size: 1em;
}

@media (max-width: 750px) {
    #pricing .inner-container #plans {
        justify-content: space-between;
    }

    #pricing .inner-container #plans .plan {
        width: 45%; 
        margin: 5% 0;
    }
    
    
}

@media (max-width: 600px) {
    #pricing .inner-container #plans .plan {
        width: 80%;
        margin: 5% auto;
    }
}

@media (max-width: 300px) {
    #pricing .inner-container #plans .plan ul {
        margin-left: 2%;
    }
}
























/* Technology */

#technology {
    width: 100%;
    background-color: var(--primary-color);
    padding: 5% 0;

}

#technology .inner-container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

#technology #video-container {
    width: 60%;
    margin: 2% auto;    
}

#technology #video-container #video {
    display: inline-block;
    margin: auto;
}